/**>> Main */
.error-on-pane{
	-fx-background-color: #e74c3c;
}
.success-on-pane{
	-fx-background-color: #2ecc71;
}

.closeBtn:hover{
	-fx-background-color : #95a5a6;
}

.closeBtn:pressed{
	-fx-background-color : #95a5a6;
}

.choice-box{
	-fx-background-color: #2c3e50;
	-fx-border-color: #ecf0f1;
}
.choice-box .label {
     -fx-text-fill: #2c3e50; 
}

.list-cell{
	-fx-background-color: #2c3e50;
}

.combo-box > .list-cell {
-fx-background: black;
-fx-background-color: black;
-fx-text-fill: white;
}


/**<< Main */


/**>> Department Component */

/**<< Department Component */

.button
{
-fx-text-fill : #e7e5e5;
}
.button:hover{
-fx-background-color : #7f8c8d;
}
.button:pressed
{
-fx-background-color : #2ecc71;
}

.scroll-pane {
    -fx-background-color: #02030A;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #ecf0f1;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}





.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size : 20;
    -fx-background-color:   #34495e;
}
.table-view .column-header .label{

   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-alignment: CENTER_LEFT;
}
.table-view .cell{
   -fx-cell-size: 30;
  -fx-alignment: center-left;
  -fx-text-fill: #2c3e50;
}

.table-row-cell:selected {
    -fx-background-color:  #34495e;
 }
 .table-row-cell:selected .text {
        -fx-fill : white ;

 }
/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive(  #95a5a6,80%);
	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #95a5a6,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}


.linear-grad
{
    -fx-background-color: linear-gradient(to bottom left, #A868A0, #2D75E8);
}


.list-cell:filled:selected:focused, .list-cell:filled:selected {
    /* 3:, 4: */
    -fx-background-color: #34495e;/*linear-gradient(#333 0%, #777 25%, #aaa 75%, #eee 100%);*/
    -fx-text-fill: white; /* 5 */
}

.list-cell { -fx-text-fill: #34495e; /* 5 */ }
.list-cell:odd { -fx-background-color: white; /* 1 */ }
.list-cell:even { -fx-background-color: #ecf0f1; /* for information */ }

.list-cell:filled:hover { 
    -fx-background-color: #34495e; /* 2 */
    -fx-text-fill: white; /* 5 */
}